<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=f5d56c7e12de65353f0fe6a289d94ea3">
    <link rel="stylesheet" href="assets/css/Montserrat.css?h=528fb90ed9ed72b94dd3f3f7e5f56457">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css?h=1ebaba3465f39106375be623a0ebab45">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css?h=e737f76df021b46fa7180f48799a5d20">
</head>

<body>
<!---------------navbar--------------->
    <%-include('navbar')-%>
<!---------------navbar end--------------->

    <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
        <div class="carousel-inner">
            <div class="carousel-item active"><img class="w-100 d-block" src="assets/img/scenery/pexels-miesha-renae-maiden-390574.jpg?h=619e385e33ec5f374ef0b036c9cc0db8" alt="Slide Image"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/scenery/pexels-bich-tran-636237%20(1).jpg?h=65c2018ee8724bd132e4f0202aa926fa" alt="Slide Image"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/scenery/pexels-pixabay-459304.jpg?h=f4bc032714303d3153af03b42b9dbeb1" alt="Slide Image"></div>
            <div class="carousel-item"><img class="w-100 d-block" src="assets/img/scenery/pexels-pixabay-159497.jpg?h=1e55e53d14d7b374701ba8012cc4c16d" alt="Slide Image"></div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
            <li data-bs-target="#carousel-1" data-bs-slide-to="3"></li>
        </ol>
    </div>
    <main class="page landing-page">
        <section class="clean-block clean-info dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Info</h2>
                    <p>On this website you will get the all engineering handwritten pdf notes for engineering student which can help in study in college exam and stuff&nbsp;</p>
                </div>
                <div class="row align-items-center">
                    <div class="col-md-6"><img class="img-thumbnail" src="assets/img/scenery/pexels-pixabay-159497.jpg?h=1e55e53d14d7b374701ba8012cc4c16d"></div>
                    <div class="col-md-6">
                        <h3>Lorem impsum dolor sit amet</h3>
                        <div class="getting-started-info">
                            <p><br>On this website you will get the all engineering handwritten pdf notes for engineering student which can help in study in college exam and stuff&nbsp;<br><br></p>
                        </div><button class="btn btn-outline-primary btn-lg" type="button">Join Now</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="clean-block features">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Features</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 feature-box"><i class="icon-notebook icon"></i>
                        <h4>Handwritten&nbsp; notes&nbsp;</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-book-open icon"></i>
                        <h4>Books PDF</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-note icon"></i>
                        <h4>Quantum for previous year</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                    <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                        <h4>All Browser Compatibility</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                    </div>
                </div>
            </div>
        </section>
<!------------------about------------------>
        <%-include('about')-%>
<!-----------------about end-------------->

        <div class="clean-block add-on newsletter-sign-up">
            <form action="/subscribe" method="post">
                <center>
                <h2>Join us&nbsp; to get update</h2><br>
                <input type="text" class="form-control" placeholder="Email" name="email"><br>
                <button class="btn btn-outline-primary" type="submit" >Subscribe</button>
                </center>
            </form>
        </div>
    </main>
 <!---------------footer--------------->
    <%-include('footer')-%>
<!---------------footer end--------------->
    <script src="assets/bootstrap/js/bootstrap.min.js?h=01bb7ae0c0b11509558f2aa83f244399"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js?h=6a37ea9c996b05f763161c73127d66bc"></script>
    <script src="assets/js/theme.js?h=a083aeb15550c5e1266c666e8a5846d9"></script>
</body>

</html