<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
    <div class="container"><a class="navbar-brand logo" href="#">PDF GURUJI</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link active" href="notes">Notes</a></li>
                <li class="nav-item"><a class="nav-link active" href="pricing">Pricing</a></li>
                <li class="nav-item"><a class="nav-link active" href="about-us">About Us</a></li>
                <li class="nav-item"><a class="nav-link active" href="contact-us">Contact-us</a></li>
            </ul>
        </div>
    </div>
</nav>