<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Pricing - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css?h=f5d56c7e12de65353f0fe6a289d94ea3">
    <link rel="stylesheet" href="assets/css/Montserrat.css?h=528fb90ed9ed72b94dd3f3f7e5f56457">
    <link rel="stylesheet" href="assets/fonts/simple-line-icons.min.css?h=1ebaba3465f39106375be623a0ebab45">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">
    <link rel="stylesheet" href="assets/css/vanilla-zoom.min.css?h=e737f76df021b46fa7180f48799a5d20">
</head>

<body>
    <!--------------navbar------------>
    <%-include('navbar')-%>
<!--------------------navbar end------------>
    <main class="page pricing-table-page">
        <section class="clean-block clean-pricing dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Pricing Table</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>BASIC</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="features">
                                <h4><span class="feature">Full Support:&nbsp;</span><span>No</span></h4>
                                <h4><span class="feature">Duration:&nbsp;</span><span>30 Days</span></h4>
                                <h4><span class="feature">Storage:&nbsp;</span><span>10GB</span></h4>
                            </div>
                            <div class="price">
                                <h4>$25</h4>
                            </div><button class="btn btn-outline-primary d-block w-100" type="button">BUY NOW</button>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="ribbon"><span>Best Value</span></div>
                            <div class="heading">
                                <h3>PRO</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="features">
                                <h4><span class="feature">Full Support:&nbsp;</span><span>Yes</span></h4>
                                <h4><span class="feature">Duration:&nbsp;</span><span>60 Days</span></h4>
                                <h4><span class="feature">Storage:&nbsp;</span><span>50GB</span></h4>
                            </div>
                            <div class="price">
                                <h4>$50</h4>
                            </div><button class="btn btn-primary d-block w-100" type="button">BUY NOW</button>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-4">
                        <div class="clean-pricing-item">
                            <div class="heading">
                                <h3>PREMIUM</h3>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <div class="features">
                                <h4><span class="feature">Full Support:&nbsp;</span><span>Yes</span></h4>
                                <h4><span class="feature">Duration:&nbsp;</span><span>120 Days</span></h4>
                                <h4><span class="feature">Storage:&nbsp;</span><span>150GB</span></h4>
                            </div>
                            <div class="price">
                                <h4>$150</h4>
                            </div><button class="btn btn-outline-primary d-block w-100" type="button">BUY NOW</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="page-footer dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <h5>Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h5>Legal</h5>
                    <ul>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2022 Copyright Text</p>
        </div>
    </footer>
    <script src="assets/bootstrap/js/bootstrap.min.js?h=01bb7ae0c0b11509558f2aa83f244399"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
    <script src="assets/js/vanilla-zoom.js?h=6a37ea9c996b05f763161c73127d66bc"></script>
    <script src="assets/js/theme.js?h=a083aeb15550c5e1266c666e8a5846d9"></script>
</body>

</html>