<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Upload - Brand</title>
    <link rel="stylesheet" href="admin/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="admin/assets/fonts/fontawesome-all.min.css">
</head>
<body id="page-top">
    <div id="wrapper">
        <!---------------navbar--------------->
        <%- include('sidenavbar')-%>
         <!------------navbar end------------->

        <div class="d-flex flex-column" id="content-wrapper">
<div class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <div class="flex-grow-1 bg-login-image" style="background-image: url(&quot;assets/img/dogs/image3.jpeg&quot;);"></div>
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h4 class="text-dark mb-4">Upload Notes</h4>
                                    </div>
                                    <form class="user" action="/upload_notes" method="post" enctype="multipart/form-data">

                                        <div class="mb-3"><input class="form-control form-control-user" type="text" id="exampleInputEmail" aria-describedby="emailHelp" required placeholder="Enter Name here..." name="name"></div>
                                        <div class="mb-3"><input class="form-control form-control-user" type="text" id="exampleInputEmail" aria-describedby="emailHelp" required placeholder="Enter Subject Name..." name="subject"></div>
                                        <!---<div class="mb-3">
                                            <label class="form-control form-control-user">Upload cover in jpeg</label><br>
                                            <input   type="file" id="exampleInputPassword" placeholder="Add cover.........." name="cover"></div>
                                        <div class="mb-3">-->
                                        <div class="mb-3">
                                            <label class="form-control form-control-user">Upload pdf</label><br>
                                            <input  type="file" id="exampleInputPassword" placeholder="Add pdf........" name="pdf"></div>
                                        <div class="mb-3">
                                            
                                        </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Upload</button>
                                         
                                    </form>
                                     
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="admin/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="admin/assets/js/bs-init.js"></script>
    <script src="assets/js/theme(2).js"></script>
</body>

</html>